Vagrant.configure("2") do |config|
  config.vm.box = "base"

  config.push.define "ftp" do |push|
    push.host = "IP_OR_URL_OF_YOUR_SERVER"
    push.username = "root"
    push.password = "~/.ssh/id_rsa"
    push.secure = true
    push.destination = "/var/www/html"

    # Files you do not want uploaded
    push.exclude = ".DS_Store"
    push.exclude = ".gitignore"
    push.exclude = "package-lock.json"
    push.exclude = "Vagrantfile"

    # Folders you do not want uploaded
    push.exclude = ".git"
    push.exclude = ".nvm"
    push.exclude = ".vagrant"
    push.exclude = "node_modules"
  end
end
